.card-body{
    background-color: #F5F5EF;
}
h1{
    font-family: Montserrat;
}
.table{
    font-family: Montserrat;
}
.container .card-body{
    padding-left: 70px;
    padding-top: 30px;
}

.nav{
    font-size: smaller;
}

.nav{
    background-color: #3D82C1;
    font-family: montserrat;
    height: 100vh; 
    width: 5.5rem; 
    float: left;
}

.navnav{
    margin-left: -15px;
}

.nav1{
    width: 26px;
    height: 26px;
}
a:hover {
    opacity: 40%;
}